<div class="container-fluid">
    
    <div class="row" style="text-align:center">
        <div class="col-md-12" style="font-size:22px;text-align: center">Blog Application</div>
        <br><br>
        <div class="" style="text-align: center;margin: auto;">
       <h5>A blog (shortening of “weblog”) is an online journal or informational website displaying information in the reverse chronological order, 
       </h5> <h5>latest posts appearing first. It is a platform where a writer or even a group of writers share their views on an individual subject.</h5>
      </div>

</div></div>