<div class ="container"style="text-align:center">
  <div class ="row" *ngIf='allBlogs.length>0' style="text-align:center">
      <div class="col-md-12" style="font-size:22px">All Blogs </div>
      <br><br>
     <div class="card text-center   "style="width: 20rem;margin:1rem;margin-top:2vw;" *ngFor = "let blog of allBlogs">
        <div class="card-header">
        {{blog.title|uppercase}}
        </div>
        <div class="card-body">
          <h5 class="card-title"> {{blog.description}}</h5>
         
          
        </div>
        <div class="card-footer text-muted">
          Posted by {{blog.author}} on {{blog.created|date}}
          <br>
          <a [routerLink]="['/blog',blog.blogId]" class="btn btn-primary"  >Read</a>
        </div>
      </div>

</div>
</div> 

<router-outlet></router-outlet>